@model IEnumerable<KompleksinisV2.Models.Message>
@{
    ViewData["Title"] = "Sveiki";
}
@foreach (var item in Model)
{
    <section>
        <h2>@item.Employee.Username @item.Employee.Email</h2>
        <h3>@item.WriteDate</h3>
        <div>@item.WrittenText</div>
    </section>
    <hr>
}

