@model KompleksinisV2.Models.Message

<h1 class="display-4">Sukurkite pranešimą</h1>
<hr />

<form asp-action="Message">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="DepartmentID" class="control-label"></label>
            <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentId"></select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="WrittenText" class="control-label"></label>
        <textarea asp-for="WrittenText" class="form-control"></textarea>
        <span asp-validation-for="WrittenText" class="text-danger"></span>
    </div>
    <input type="submit" value="Išsaugoti" class="btn btn-primary" />
</form>


