@model Message



<form asp-controller="Dashboard" asp-action="Message" method="post">
    what:  <input type="text" asp-for="WrittenText" /> <br />
  
    <button type="submit">Register</button>
</form>