@model KompleksinisV2.Models.ViewModels.ChangePasswordViewModel


<h2>Pasikeiskite savo slaptažodį</h2>

<form asp-controller="Account" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label asp-for="CurrentPassword" class="control-label">Esamas slaptažodis:</label>
            <input type="password" asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label asp-for="NewPassword" class="control-label">Naujas slaptažodis:</label>
            <input type="password" asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label asp-for="RepeatPassword" class="control-label">Pakartokite naują slaptažodį:</label>
            <input type="password" asp-for="RepeatPassword" class="form-control" />
            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-default">Išsaugoti</button>
</form>

