@model KompleksinisV2.Models.Employee
@{
    Layout = "~/Views/Shared/_Custom.cshtml";
}
<div class="container">
    <div id="login-box">
        <div class="logo">
            <h1 class="logo-caption">IrKo</h1>
        </div>
        <div class="controls">
            <form asp-action="Login">
                <input  asp-for="Email" class="form-control nein" type="text" placeholder="El. paštas" required />
                <input  asp-for="Password" class="form-control nein" type="password" placeholder="Slaptažodis" required />
                <input type="submit" value="Prisijungti" class="btn btn-primary btn-lg btn-block" />
            </form>
            
        </div>
    </div>
</div>
<div id="particles-js"></div>


