<!DOCTYPE html>
<html lang="en">
<head>
    <title>IrKo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <link href="~/css/Login.css" rel="stylesheet" />

</head>
<body>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/particles.js/particles.js"></script>
    <script src="~/js/Login.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>
